@page "/add-server"

<h3>AddServer</h3>

<EditForm Model="server" FormName="AddServer" OnValidSubmit="Submit">



    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label">Name</label>
        </div>
        <div class="col-6">
            <InputText class="form-control" @bind-Value="server.Name"></InputText>
        </div>
        <div class="col">
            <ValidationMessage For="() => server.Name"></ValidationMessage>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label">City</label>
        </div>
        <div class="col-6">
            <InputText class="form-control" @bind-Value="server.City"></InputText>
        </div>
        <div class="col">
            <ValidationMessage For="() => server.City"></ValidationMessage>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label">Online</label>
        </div>
        <div class="col-6">
            <InputCheckbox class="form-check-input" @bind-Value="server.IsOnline"></InputCheckbox>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">
        Add Server
    </button>
</EditForm>


@code {

    public Server server = new Server() { IsOnline = false };

    private void Submit(EditContext args)
    {
        throw new NotImplementedException();
    }
}
