@page "/servers"

<h3>Servers</h3>
<br/>
<br/>
<br/>

@* there are two ways to get rid of the follwoing chaose *@
@* <ServerManagement.Components.Controls.ServerComponent></ServerManagement.Components.Controls.ServerComponent> *@



@*
<ServerComponent></ServerComponent>

<br/>

<ServerComponent></ServerComponent>
*@

<div class="container-fluid text-center">
    <div class="row w-50">
        @foreach (var item in _cities)
        {
            <div class="col">
                <div class="card">
                    <img src="@($"/images/{item}.png")"
                         class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <button href="#"
                                class="btn btn-primary"
                                value="@item">@item
                        </button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


@code {

    private List<string?> _cities = ServersRepository.GetServres().Select(s => s.City).Distinct().ToList();
}
