@page "/servers"
@rendermode InteractiveServer

<h3>Servers</h3>
<br/>
<br/>

<CityListComponent @ref="_cityListComponent"
    SelectCityCallback="HandleCitySelection"></CityListComponent>

<br/>

<SearchComponent _serverFilter="@_serverFilter"
    HandleSearchFilter="HandleSearchFilter"></SearchComponent>

<ServerListComponent
    CityName="@selectedCity" _searchFilter="@_serverFilter"></ServerListComponent>

@code {

    private CityListComponent _cityListComponent;
    private string selectedCity = "Toronto";

    private string _serverFilter = string.Empty;


    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        _serverFilter = string.Empty;
    }

    private void HandleSearchFilter(string serverFilter)
    {
        _serverFilter = serverFilter;
        _cityListComponent.ClrListComponent();

    }

}
