@page "/servers"
@rendermode InteractiveServer

<h3>Servers</h3>
<br/>
<br/>

<CityListComponent
    SelectCityCallback="HandleCitySelection"></CityListComponent>

<br/>

<SearchComponent _serverFilter="@_serverFilter"
    HandleSearchFilter="HandleSearchFilter"></SearchComponent>

@* Here,ServerListComponent is a non-routable child component,
ServerListComponent has a CityName property with [ Parameter ] attribute,
so, the parent component can use CityName property to send
argument to the ServerListComponent by using CityName property
like following *@

<ServerListComponent
    CityName="@selectedCity" _searchFilter="@_serverFilter"></ServerListComponent>

@code {

    private string selectedCity = "Toronto";

    private string _serverFilter = string.Empty;


    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        _serverFilter = string.Empty;
    }

    private void HandleSearchFilter(string serverFilter)
    {
        _serverFilter = serverFilter;
    }

}
