@page "/servers"

<h3>Servers</h3>
<br/>
<br/>
<br/>

@* there are two ways to get rid of the follwoing chaose *@
@* <ServerManagement.Components.Controls.ServerComponent></ServerManagement.Components.Controls.ServerComponent> *@

<ServerComponent></ServerComponent>
<br/>

<ServerComponent></ServerComponent>



@code {

}
