@page "/servers"
@rendermode InteractiveServer

<h3>Servers</h3>
<br/>
<br/>

<CityListComponent
    SelectCityCallback="HandleCitySelection"></CityListComponent>

<br/>
@serverFilter
<br>
<div class="input-group">
    <input class="form-control" @bind-value="serverFilter"
           @bind-value:event="oninput"/>
    <button type="button" class="btn btn-secondary">
        Search
    </button>
</div>
<br>


@* Here,ServerListComponent is a non-routable child component,
ServerListComponent has a CityName property with [ Parameter ] attribute,
so, the parent component can use CityName property to send
argument to the ServerListComponent by using CityName property
like following *@

<ServerListComponent
    CityName="@selectedCity"></ServerListComponent>

@code {
    private string _serverFilter = string.Empty;

    private string selectedCity = "Toronto";

    private string serverFilter
    {
        get { return _serverFilter; }
        set
        {
            _serverFilter = value;
            // _servers = ServersRepository.SearchServers(_serverFilter);
        }
    }


    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
    }

}
