
@Server.Name in @Server.City is <span
    style="color: @(Server.IsOnline ? "green" : "red")">@(Server.IsOnline ? "online" : "offline")</span>
<a href="/servers/@Server.ServerId"
   class="link-underline-primary">Edit</a>


@code {

    [ Parameter ]public Server? Server { get; set; }

}
